$fz: 17px;
$main-color: #fff;
$active-color: #037E8C;
$background-3: rgba(18, 18, 20, 0.8);
$anim-burger: all 0.3s ease;
$background-4: #F4F4F4;
$cl-bl: rgba(18, 18, 20, 0.8);
$radius: 9px;
$bl: #121214;
$gr: #f1eeeefa;
$dc: #373737;
$acc: #848484;
$fc: #787878;
$anim-pic:all 0.5s ease;